/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
    display: flex;  
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 20px;
}

header h2 {
    font-size: 24px;
    color: #f9faf8;
}

header ul {
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 100px;
}

.main-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    line-height: 4rem;
}

.main-left p {
    font-size: 18px;
    color: #e5e7eb;
    line-height:1.5rem;
}

.main-left button {
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
    margin-top: 10px;
}

.main-right img {
    width: 500px;
    height: 250px;
    object-fit: cover;
}

section {
    padding: 50px;
}

section h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;
}

.informations {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.information img {
    border: 5px solid #3882f6;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.information p {
    text-align: center;
    margin-top: 5px;
}

.quote {
    background-color: #e5e7eb;
    padding: 50px;
}

.quote p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.quote .name {
    font-size: 36px;
    font-weight:900;
    color: #1f2937;
    text-align: right;  
    margin-right: 130px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    padding: 100px;
}

.action {
    font-size: 24px;
    color: #f9faf8;
    margin-right: 290px;
    margin-bottom: 0;
}

.signup p {
    font-size: 18px;
    color: #e5e7eb;
}

.signup button {
    background-color: #3882f6;
    padding: 10px 40px;
    color: #f9faf8;
    border: none;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    margin-left: 50px;
}